<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>

        <h1>Learn more about us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis inventore corrupti iusto repellat, dolorem porro ea doloremque aspernatur assumenda facere rerum, laudantium sit neque eius omnis fugiat minima provident esse?</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>