<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>

        <h1>Contact Us through....</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cumque officia pariatur quo provident ea veritatis, aspernatur voluptatum? Ducimus ut qui distinctio repudiandae, obcaecati cumque dolorum autem iure soluta praesentium!</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>